body {
    background: url(https://res.cloudinary.com/dt2jqh5yo/image/upload/v1635091776/books.jpg) center center;
    background-repeat: repeat-y;
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

#text-h1 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
}

.border {
  border-color: #3a3a3a;
}

.checked {
    color: #f6d2a6;
    }

  .bg-grey {
    background-color: rgba(23,60,55, 0.9);
}

  h1 {
      color: #da8a66;
      opacity: 100;

  }

  .start-btn {
    background-color: inherit !important;
    border: 0 !important;

  }

  .txt-red {
      color: #b5545d;
      font-weight: bold;
  }

  .text-baige {
      color: #d4cabf;
  }

.comment * {
    font-size: 1rem;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.post-card {
  height: 600px;
}

.btn-signup {
  background-color: #0c645c;
  color:#dfdbc6;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #dfdbc6;
  color: #0c645c;
}

  /* Collapsible */

  .collapse {
    &:not(.show) {
      display: none;
    }
  }
  
  .collapsing {
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
  
    &.collapse-horizontal {
      width: 0;
      height: auto;
      @include transition($transition-collapse-width);
    }
  }